Repository Yokozuna59/mermaid-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, prettier --write, eslint --fix

style: make eslint with compatible with prettier (#18)
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: add eslint compatible with typescript and lint-staged
  .eslintrc.json
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: add prettier compatible with lint-staged
  .lintstagedrc.json
  .prettierrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: make eslint with compatible with prettier
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: move prettier config from eslint `plugins` into `extends` (#19)
  .eslintrc.json
Due: prettier --write

style: make prettier wrap json arrays in separate lines (#20)
  .eslintrc.json
  .prettierrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: ignore generated dir in eslint and prettier (#21)
  .eslintignore
  .prettierignore
Due: none

style: move prettier config from eslint `plugins` into `extends`
  .eslintrc.json
Due: prettier --write

style: make prettier wrap json arrays in separate lines
  .eslintrc.json
  .prettierrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: ignore generated dir in eslint and prettier
  .eslintignore
  .prettierignore
Due: none

fix: resolve DOM and moduleResolution errors when using langium (#22)
  tsconfig.base.json
Due: prettier --write

fix: resolve DOM and moduleResolution when using langium
  tsconfig.base.json
Due: prettier --write

build: add rimraf to dev dependencies (#23)
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(parser): create initial parser package with initial pie diagram (#24)
  packages/mermaid-parser/LICENSE
  packages/mermaid-parser/langium-config.json
  packages/mermaid-parser/package.json
  packages/mermaid-parser/src/language-server/common.langium
  packages/mermaid-parser/src/language-server/mermaid.langium
  packages/mermaid-parser/src/language-server/pie.langium
  packages/mermaid-parser/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

build: add rimraf to dev dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(pie): use built-in string regex instead of label (#25)
  packages/mermaid-parser/src/language-server/pie.langium
Due: none

feat(parser): create initial parser package with initial pie diagram
  packages/mermaid-parser/LICENSE
  packages/mermaid-parser/langium-config.json
  packages/mermaid-parser/package.json
  packages/mermaid-parser/src/language-server/common.langium
  packages/mermaid-parser/src/language-server/mermaid.langium
  packages/mermaid-parser/src/language-server/pie.langium
  packages/mermaid-parser/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix(pie): use built-in string regex instead of label
  packages/mermaid-parser/src/language-server/pie.langium
Due: none

fix(parser): fix eof exception for pie charts (#26)
  packages/mermaid-parser/src/language-server/common.langium
  packages/mermaid-parser/src/language-server/pie.langium
Due: none

fix(parser): fix eof exception for pie charts
  packages/mermaid-parser/src/language-server/common.langium
  packages/mermaid-parser/src/language-server/pie.langium
Due: none

build(dev-deps): add vitest to devDependencies with config file (#27)
  package.json
  packages/mermaid-parser/tsconfig.json
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: add clean, format, and lint scripts (#28)
  package.json
Due: prettier --write

build(dev-deps): add vitest to devDependencies with config file
  package.json
  packages/mermaid-parser/tsconfig.json
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: add clean, format, and lint scripts
  package.json
Due: prettier --write

fix(pie): fix pie chart duplicated newlines with minor changes (#29)
  packages/mermaid-parser/src/language-server/pie.langium
Due: none

chore: rename language-server to language (#30)
  .git-blame-ignore-revs
  packages/mermaid-parser/src/language/common.langium
  packages/mermaid-parser/src/language/mermaid.langium
  packages/mermaid-parser/src/language/pie.langium
Due: none

fix(pie): fix pie chart duplicated newlines with minor changes
  packages/mermaid-parser/src/language-server/pie.langium
Due: none

fix: fix renamed path in langium-config (#31)
  packages/mermaid-parser/langium-config.json
Due: prettier --write

chore: remove broken license symlink (#32)
  packages/mermaid-parser/LICENSE
Due: none

chore: add generated code from langium-cli (#33)
  packages/mermaid-parser/src/language/generated/ast.ts
  packages/mermaid-parser/src/language/generated/grammar.ts
  packages/mermaid-parser/src/language/generated/module.ts
  packages/mermaid-parser/src/language/index.ts
Due: prettier --write, eslint --fix

chore: rename language-server into language
  packages/mermaid-parser/src/language/common.langium
  packages/mermaid-parser/src/language/mermaid.langium
  packages/mermaid-parser/src/language/pie.langium
Due: none

chore: git blame ignore rename language-server
  .git-blame-ignore-revs
Due: none

fix: fix renamed path in langium-config
  packages/mermaid-parser/langium-config.json
Due: prettier --write

chore: remove broken license symlink
  packages/mermaid-parser/LICENSE
Due: none

chore: add generated code from langium-cli
  packages/mermaid-parser/src/language/generated/ast.ts
  packages/mermaid-parser/src/language/generated/grammar.ts
  packages/mermaid-parser/src/language/generated/module.ts
  packages/mermaid-parser/src/language/index.ts
Due: prettier --write, eslint --fix

build(deps): add chevrotain to parser dependencies (#34)
  packages/mermaid-parser/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(roadmap): add project roadmap (#35)
  README.md
Due: markdownlint --fix

build(deps): add chevrotain to parser dependencies
  packages/mermaid-parser/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(roadmap): add project roadmap
  README.md
Due: markdownlint --fix

style: organize langium grammar (#36)
  packages/mermaid-parser/src/language/grammars/common.langium
  packages/mermaid-parser/src/language/grammars/pie.langium
  packages/mermaid-parser/src/language/mermaid.langium
Due: none

Path conditions:
  markdownlint --fix: any of: *.md
  prettier --write: (any of: *.json) or (any of: *.ts)
  eslint --fix: any of: *.ts
