Repository Yokozuna59/mermaid-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix

.lintstagedrc.json:

{
    "*.md": [
        "markdownlint --fix"
    ],
    "*.ts": [
        "eslint --fix"
    ]
}

docs: move roadmap to mermaid parser readme and and license
  README.md
  packages/mermaid-parser/LICENSE
  packages/mermaid-parser/README.md
Due: markdownlint --fix

docs: move roadmap to mermaid parser readme and and license (#76)
  README.md
  packages/mermaid-parser/LICENSE
  packages/mermaid-parser/README.md
Due: markdownlint --fix

chore(release): bump mermaid-parser version to 0.1.1-0
  packages/mermaid-parser/package.json
Due: none

chore(release): bump mermaid-parser version to 0.1.1-0 (#77)
  packages/mermaid-parser/package.json
Due: none

fix: add index to export `language` dir
  packages/mermaid-parser/src/index.ts
Due: eslint --fix

fix: add index to export `language` dir (#78)
  packages/mermaid-parser/src/index.ts
Due: eslint --fix

fix(pie): fix EOF and NEWLINE parsing for `Secion` parse rule
  packages/mermaid-parser/src/language/generated/grammar.ts
  packages/mermaid-parser/src/language/grammars/pie.langium
Due: eslint --fix

revert: fix(pie): fix EOF and NEWLINE parsing for `Secion` parse rule
  packages/mermaid-parser/src/language/generated/grammar.ts
  packages/mermaid-parser/src/language/grammars/pie.langium
Due: eslint --fix

fix(common): fix title and acc multiple times declaration
  packages/mermaid-parser/src/language/generated/grammar.ts
  packages/mermaid-parser/src/language/grammars/common.langium
  packages/mermaid-parser/src/language/mermaid-token-builder.ts
Due: eslint --fix

test: uncomment lexer and parser errors except
  packages/mermaid-parser/tests/common/accdescr.test.ts
  packages/mermaid-parser/tests/common/acctitle.test.ts
  packages/mermaid-parser/tests/pie/syntax.test.ts
Due: eslint --fix

test(common): untodo valid test cases (title in between)
  packages/mermaid-parser/tests/common/accdescr.test.ts
  packages/mermaid-parser/tests/common/acctitle.test.ts
Due: eslint --fix

test(common): untodo valid test cases (title in between) (#79)
  packages/mermaid-parser/tests/common/accdescr.test.ts
  packages/mermaid-parser/tests/common/acctitle.test.ts
Due: eslint --fix

test(common): add all tests contains title and acc
  packages/mermaid-parser/tests/common/all.test.ts
Due: eslint --fix

test(common): add all tests contains title and acc (#80)
  packages/mermaid-parser/tests/common/all.test.ts
Due: eslint --fix

feat: add `mermaid` module and `piechart` validator (#81)
  packages/mermaid-parser/src/language/index.ts
  packages/mermaid-parser/src/language/mermaid-module.ts
  packages/mermaid-parser/src/language/validators/index.ts
  packages/mermaid-parser/src/language/validators/pie-validator.ts
Due: eslint --fix

test: add createTestServices (#82)
  packages/mermaid-parser/package.json
  packages/mermaid-parser/tests/common/accdescr.test.ts
  packages/mermaid-parser/tests/common/acctitle.test.ts
  packages/mermaid-parser/tests/common/all.test.ts
  packages/mermaid-parser/tests/common/title.test.ts
  packages/mermaid-parser/tests/pie/syntax.test.ts
  packages/mermaid-parser/tests/test-utils.ts
  pnpm-lock.yaml
Due: eslint --fix

test(pie): add sections test cases (#83)
  packages/mermaid-parser/tests/pie/syntax.test.ts
Due: eslint --fix

test(pie): add duplicate sections test case (#84)
  packages/mermaid-parser/tests/pie/syntax.test.ts
Due: eslint --fix

feat: add `mermaid` module and `piechart` validator
  packages/mermaid-parser/src/language/index.ts
  packages/mermaid-parser/src/language/mermaid-module.ts
  packages/mermaid-parser/src/language/validators/index.ts
  packages/mermaid-parser/src/language/validators/pie-validator.ts
Due: eslint --fix

build(dev-deps): add vscode-uri to dev dependencies
  packages/mermaid-parser/package.json
  pnpm-lock.yaml
Due: none

test: add createTestServices and switch tests to it
  packages/mermaid-parser/tests/common/accdescr.test.ts
  packages/mermaid-parser/tests/common/acctitle.test.ts
  packages/mermaid-parser/tests/common/all.test.ts
  packages/mermaid-parser/tests/common/title.test.ts
  packages/mermaid-parser/tests/pie/syntax.test.ts
  packages/mermaid-parser/tests/test-utils.ts
Due: eslint --fix

test(pie): add sections test cases
  packages/mermaid-parser/tests/pie/syntax.test.ts
Due: eslint --fix

test(pie): add duplicate sections test case
  packages/mermaid-parser/tests/pie/syntax.test.ts
Due: eslint --fix

test(pie): fix duplicate sections case by expecting each node (#85)
  packages/mermaid-parser/tests/pie/syntax.test.ts
Due: eslint --fix

fix(common): switch title and acc `&` into `|` (#86)
  packages/mermaid-parser/src/language/generated/grammar.ts
  packages/mermaid-parser/src/language/grammars/common.langium
Due: eslint --fix

test(pie): fix duplicate sections case by expecting each node
  packages/mermaid-parser/tests/pie/syntax.test.ts
Due: eslint --fix

fix(common): switch title and acc `&` into `|`
  packages/mermaid-parser/src/language/generated/grammar.ts
  packages/mermaid-parser/src/language/grammars/common.langium
Due: eslint --fix

test: remove unnecessary exception in tests (#87)
  packages/mermaid-parser/tests/common/accdescr.test.ts
  packages/mermaid-parser/tests/common/acctitle.test.ts
  packages/mermaid-parser/tests/common/title.test.ts
  packages/mermaid-parser/tests/pie/syntax.test.ts
Due: eslint --fix

test: remove unnecessary exception in tests
  packages/mermaid-parser/tests/common/accdescr.test.ts
  packages/mermaid-parser/tests/common/acctitle.test.ts
  packages/mermaid-parser/tests/common/title.test.ts
  packages/mermaid-parser/tests/pie/syntax.test.ts
Due: eslint --fix

style: markdownlint ignore node_modules dir
  .markdownlintignore
Due: none

style: disable line-length limit in markdownlint
  .markdownlint.json
Due: none

style: add markdownlint in lint and format scripts
  package.json
Due: none

style: reconfig markdownlint and markdownlintingore (#88)
  .markdownlint.json
  .markdownlintignore
  package.json
Due: none

style: eslint and prettier ignore dist directory
  .eslintignore
  .prettierignore
Due: none

chore: add `build` and `prepublishOnly` scripts to package.json
  package.json
Due: none

chore: add `build` and `prepublishOnly` scripts and config ignores (#89)
  .eslintignore
  .prettierignore
  package.json
Due: none

chore: move `mermaid.langium` into `grammar` dir
  packages/mermaid-parser/langium-config.json
  packages/mermaid-parser/src/language/grammars/mermaid.langium
Due: none

chore: blame ignore revs for moving `mermaid` to `grammar`
  .git-blame-ignore-revs
Due: none

chore: move mermaid langium into grammar (#90)
  .git-blame-ignore-revs
  packages/mermaid-parser/langium-config.json
  packages/mermaid-parser/src/language/grammars/mermaid.langium
Due: none

fix: reorder and update comment, directive, yaml rules to be strict
  packages/mermaid-parser/src/language/generated/grammar.ts
  packages/mermaid-parser/src/language/grammars/common.langium
Due: eslint --fix
